*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    line-height: 24px;
    font-family: 'Work Sans', sans-serif;
}
a, a:hover{
    text-decoration: none;
}
ul, ol{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    margin: 0px;
}

/* ----- Main CSS codes start ----- */
.header-bg{
    background: url("../img/BannerBG.png") center top no-repeat;
    background-size: 115%;
}
.bg-light{
    background: transparent !important;
}
.navigation-1 .navbar-nav .nav-item{
    margin: 0px 15px;
}
.navbar-nav .nav-item .nav-link{
    font-size: 16px;
    line-height: 5px;
    font-weight: 600;
    color: #5a6e79;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #ffc178 !important;
    border-bottom: 1px solid #ffc178;
}
.navbar-nav .active a{
    color: #ffc178 !important;
    font-size: 17px !important;
    font-weight: bold !important;
    border-bottom: 1px solid #ffc178;
}
.navigation-1 .btn{
    background: #fff;
    color: #ffc178;
    padding: 8px 25px;
    border: none;
    border-radius: 30px;
    transition: 0.5s;
}
.navigation-1 .btn:hover{
    background: #ffc178;
    color: #5a6e79;
}
.text-wrapper{
    margin-top: 120px;
    padding-bottom: 400px;
}
.text-wrapper h1{
    font-size: 39px;
    font-weight: bold;
    color: #ffc178;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}
.text-wrapper p{
    font-size: 17px;
    color: #5a6e79;
    margin-bottom: 30px;
}
.text-wrapper .btn{
    color: #fff;
    background: #ffc178;
    padding: 15px 45px;
    border: none;
    border-radius: 30px;
}
.text-wrapper .btn:hover{
    border: 1px solid #ffc178;
    background: #fff;
    color: #4a4a4a;
}

/* ----- Feature section start ----- */
.feature-header-wrapper{}
.feature-header-wrapper h2{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 40px;
}
.feature-header-wrapper p{
    color: #5a6e79;
    margin-bottom: 65px;
}
.feature-inner{
    padding-bottom: 70px;
    border-radius: 4px;
}
.feature-inner h4{
    color: #fff;
}
.bg-1{
    background: #f9703a;
}
.bg-2{
    background: #80be41;
}
.bg-3{
    background: #ffb157;
}

/* ----- about section codes start ----- */
.about-inner{
    position: relative;
}
.video img{
    position: absolute;
    top: 18%;
}
.about-inner h3{
    margin-top: 90px;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
}
.about-inner p{
    color: #5a6e79;
}
.color-text-container{
    margin-top: 55px;
}
.color-text-container h5{
    font-size: 32px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.color-text-container p{
    font-size: 17px;
}
.clr-01 h5{
    color: #ffba00;
}
.clr-02 h5{
    color: #ff5f72;
}
.clr-03 h5{
    color: #43cb83;
}
.clr-01 p{
    color: #ffba00;
}
.clr-02 p{
    color: #ff5f72;
}
.clr-03 p{
    color: #43cb83;
}

/* ----- Around Uni section codes starts ----- */
.around-uni{
    padding-bottom: 90px;
}
.around-inner{
    margin-top: 130px;
    margin-bottom: 90px;
}
.card{
    border: none;
    margin-bottom: 30px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card .card-body h5{
    font-size: 14px;
}
.card h5:hover{
    color: #ffc178;
    text-decoration: underline #ffc178;
    cursor: pointer;
}
.card .card-body p{
    font-size: 10px;
}
.card .card-body a{
    color: #5a6e79;
    padding: 0px;
    text-decoration: none;
    font-size: 14px;
}
.card a:hover {
    color: #252c3a;
    font-weight: 500;
}

/* ----- Footer section codes starts ----- */
.pre-footer{
    background: #252c3a;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 100px;
    font-family: 'Roboto', sans-serif;
}
.about img{
    margin-bottom: 20px;
}
.about p{
    color: #969595;
    font-size: 13px;
}
.about hr{
    background: #fff;
    opacity: 0.1;
}
.about a i{
    font-size: 18px;
    padding-right: 12px;
    color: #4a4a4a;
}
.about a i:hover{
    color: #0089fd;
}
.updates-left{}
.updates-left h5{
    font-size: 14px;
    padding-bottom: 45px;
    text-transform: uppercase;
}
.updates-left a p{
    color: #969595;
    font-size: 12px;
}
.updates-left a p span{
    color: #6b6b6b;
}
.updates-right h5{
    font-size: 14px;
    padding-bottom: 45px;
    text-transform: uppercase;
}
.updates-right a p{
    color: #969595;
    font-size: 12px;
}
.support{}
.support h5{
    padding-bottom: 35px;
    text-transform: uppercase;
}
.support p{
    color: #969595;
    font-size: 13px;
}
.support form{
    position: relative;
}
.support form input{
    padding: 5px;
    width: 100%;
}
.support form input:hover{
    border: 2px solid #ffc178;
}
.support form input:focus{
    outline: none;
}
.support form input::placeholder{
    font-size: 12px;
    padding-left: 10px;
    color: #969595;
}
.support form .btn{
    position: absolute;
    right: 0px;
    bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    border-radius: 2px;
    background: #ffc178;
    border: none;
}
.main-footer{
    background: #1d232e;
    color: #6b6b6b;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.footer-left p{
    font-size: 12px;
}
.footer-right .footer-list{
    display: flex;
    justify-content: space-between;
}
.footer-right .footer-list li{
    padding-left: 25px;
}
.footer-right .footer-list li a{
    font-size: 12px;
    color: #6b6b6b;
}